
.link {cursor:pointer; color:#666}
.link:hover {color:#000}
.slider {position:relative; overflow:hidden; min-height:390px;  margin-bottom:20px;}
.slider p
{
	text-align:justify;
	
}
.slidercontent {position:absolute;}
.slidercontent .upper {border-bottom:1px solid #9ac1c9; border:none;}
.section {}
.newsslider {position:relative; overflow:hidden; border:2px solid #9ac1c9; height:95px; width:300px; background:#eef5f6; margin-bottom:20px}
.newsslidercontent {position:absolute}
.newsslidercontent .upper {border-bottom:1px solid #9ac1c9}
.newssection {padding:10px; height:75px}



.link1 {cursor:pointer; color:#666}
.link1:hover {color:#000}
.slider1 {position:relative; overflow:hidden; min-height:390px;  margin-bottom:20px;}
.slider1 p
{
	text-align:justify;
	
}
.slidercontent1 {position:absolute;}
.slidercontent1 .upper {border-bottom:1px solid #9ac1c9; border:none;}
.section1 {}
.newsslider1 {position:relative; overflow:hidden; border:2px solid #9ac1c9; height:95px; width:300px; background:#eef5f6; margin-bottom:20px}
.newsslidercontent1 {position:absolute}
.newsslidercontent1 .upper {border-bottom:1px solid #9ac1c9}
.newssection1 {padding:10px; height:75px}
